[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/pamanager"]
	path = vendor/pamanager
	url = https://github.com/beaumanvienna/pamanager/
[submodule "vendor/SDL"]
	path = vendor/sdl
	url = https://github.com/beaumanvienna/SDL
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "application/lucre/models/assets"]
	path = application/lucre/models/assets
	url = https://github.com/beaumanvienna/glTF-models

