.vscode
.DS_Store
application/lucre/models/guybrush_animated_gltf
application/lucre/models/Kaya
vendor/VulkanSDK
*.spv
bin
bin-int
Makefile
Makefile.in
build
vendor/atlas/sheets/sheet.png
imgui.ini
internalDB.txt
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.make
.vs/
engine.cfg
resources/gnuEmbeddedResources.cpp
resources/gnuEmbeddedResources.h
.marley
profiling (open with chrome tracing).json
resources/nsis/marleyInstaller.exe
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

renderdoc.cap
/main.scene
/night.scene
/beach.scene
/splash.scene
/settings.scene
/night.json
/beach.json
/dessert.json