
#include "windowsEmbeddedResources.h"


IDB_CURSOR_RETRO         PNG                     "resources\\images\\cursor.png"
IDB_CURSOR_EMPTY         PNG                     "resources\\images\\cursorEmpty.png"
IDB_ENGINE_LOGO          PNG                     "resources\\atlas\\images\\I_ENGINE.png"
IDB_VULKAN               PNG                     "resources\\images\\I_Vulkan.png"
IDB_ATLAS                PNG                     "resources\\atlas\\atlas.png"
IDB_FONTS_RETRO          PNG                     "resources\\atlas\\fontAtlas.png"
IDR_SD_LCTRL_DB          TEXT                    "resources\\sdl\\gamecontrollerdb.txt"
IDR_WAVES                OGG                     "resources\\waves.ogg"
IDR_BUCKLE               OGG                     "resources\\buckle.ogg"


IDR_SHADER_PL_VERT       TEXT                    "engine\\platform\\Vulkan\\shaders\\pointLight.vert"
IDR_SHADER_PL_FRAG       TEXT                    "engine\\platform\\Vulkan\\shaders\\pointLight.frag"
IDR_SHADER_DR_VERT       TEXT                    "engine\\platform\\Vulkan\\shaders\\deferredShading.frag"
IDR_SHADER_DR_FRAG       TEXT                    "engine\\platform\\Vulkan\\shaders\\deferredShading.frag"
IDR_SHADER_NM_VERT       TEXT                    "engine\\platform\\Vulkan\\shaders\\pbr.vert"
IDR_SHADER_NM_FRAG       TEXT                    "engine\\platform\\Vulkan\\shaders\\pbr.frag"
IDR_SHADER_D_VERT        TEXT                    "engine\\platform\\Vulkan\\shaders\\pbrSA.vert"

IDR_SHADER_SP2D_VERT     TEXT                    "engine\\platform\\Vulkan\\shaders\\spriteRenderer2D.vert"
IDR_SHADER_SP2D_FRAG     TEXT                    "engine\\platform\\Vulkan\\shaders\\spriteRenderer2D.frag"
IDR_SHADER_GUIS_VERT     TEXT                    "engine\\platform\\Vulkan\\shaders\\guiShader.vert"
IDR_SHADER_GUIS_FRAG     TEXT                    "engine\\platform\\Vulkan\\shaders\\guiShader.frag"
IDR_SHADER_GUIS2D_VERT   TEXT                    "engine\\platform\\Vulkan\\shaders\\guiShader2.vert"
IDR_SHADER_GUIS2D_FRAG   TEXT                    "engine\\platform\\Vulkan\\shaders\\guiShader2.frag"
IDR_SHADER_SR_VERT       TEXT                    "engine\\platform\\Vulkan\\shaders\\spriteRenderer.vert"
IDR_SHADER_SR_FRAG       TEXT                    "engine\\platform\\Vulkan\\shaders\\spriteRenderer.frag"
IDR_SHADER_SB_VERT       TEXT                    "engine\\platform\\Vulkan\\shaders\\skybox.vert"
IDR_SHADER_SB_FRAG       TEXT                    "engine\\platform\\Vulkan\\shaders\\skybox.frag"
IDR_SHADER_SHADOW_VERT   TEXT                    "engine\\platform\\Vulkan\\shaders\\shadowShaderInstanced.vert"
IDR_SHADER_SHADOW_FRAG   TEXT                    "engine\\platform\\Vulkan\\shaders\\shadowShaderInstanced.frag"
IDR_SHADER_SHADSA_VERT   TEXT                    "engine\\platform\\Vulkan\\shaders\\shadowShaderAnimatedInstanced.vert"
IDR_SHADER_SHADSA_FRAG   TEXT                    "engine\\platform\\Vulkan\\shaders\\shadowShaderAnimatedInstanced.frag"
IDR_SHADER_DEBUG_VERT    TEXT                    "engine\\platform\\Vulkan\\shaders\\debug.vert"
IDR_SHADER_DEBUG_FRAG    TEXT                    "engine\\platform\\Vulkan\\shaders\\debug.frag"
