
#include "windowsEmbeddedResources.h"

// PNG
IDB_CURSOR_RETRO         PNG                     "resources\\images\\cursor.png"
IDB_CURSOR_EMPTY         PNG                     "resources\\images\\cursorEmpty.png"
IDB_ENGINE_LOGO          PNG                     "resources\\atlas\\images\\I_ENGINE.png"
IDB_BARREL               PNG                     "resources\\images\\I_BARREL.png"
IDR_VERTEX_SHADER        TEXT                    "engine\\shader\\vertexShader.vert"
IDR_FRAGMENT_SHADER      TEXT                    "engine\\shader\\fragmentShader.frag"
IDR_SD_LCTRL_DB          TEXT                    "resources\\sdl\\gamecontrollerdb.txt"
IDR_WAVES                OGG                     "resources\\waves.ogg"

